<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="./result.html" method="POST">
      <input type="text" name="id" /> <br />
      <input type="text" name="password" /> <br />
      <input type="submit" value="로그인" /> <br />
    </form>
  </body>

  <script src="../src/init.js"></script>
</html>

<!--
    /       절대경로 : 서버의 시작점
    ./      현재경로 : 현재 파일과 같은 폴더 내
    ../     상위경로 : 현재 파일보다 한단계 위 폴더 내
-->
